.shimmer-container {
    padding: 50px;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 250px));
    grid-template-rows: repeat(3, minmax(250px, 300px));
    place-content: center;
    place-items: center;
    gap: 30px 0px;
}

.shimmer-container .card {
    width: 220px;
    height: 250px;
    background: linear-gradient(90deg, #e7e3e3 0%, #f5f5f5 50%, #e7e3e3 100%);
    background-size: 200% 100%;
    padding: 5px 5px;
    border-radius: 8px;
}

/* @keyframes shimmer {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
} */

.card-container {
    padding: 50px;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 250px));
    grid-template-rows: repeat(3, minmax(250px, 300px));
    place-content: center;
    place-items: center;
    gap: 30px 10px;
}

.card-container .card {
    width: 220px;
    height: 250px;
    background-color: #ffffff;
    box-shadow: 5px 4px 12px rgba(189, 54, 54, 0.08);
    padding: 2px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

/* .card-container .card:hover {
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    transform: translateY(-4px);
} */

.card .profile {
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    border-radius: 6px;
    margin-bottom: 8px;
    overflow: hidden;
}

.card .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 5px;
}

.card .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 0;
    overflow: hidden;
}

.card .info h4 {
    margin: 4px 0;
    font-size: 13px;
    line-height: 1.3;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .info h5 {
    margin: 2px 0;
    font-size: 12px;
    color: #ff9800;
    font-weight: 600;
}

.top-banner {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.top-banner button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

#search-component{
    width: 100%;
    max-width: 500px;
    background-color: violet;
    position: relative;
}

#search-component input {
    width: 100%;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #c1b3b3;
}

#search-component button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 40px;
    right: 10px;
    height: 100%;
}